<br>
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<br>

<div class="row">
  <div class="col-sm 6">
    <%= render 'shared/carousel'%>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, ipsa cupiditate sunt ex, laborum asperiores libero veniam nulla atque, ea alias quisquam, maiores pariatur? Odio quidem, iure maiores sequi aspernatur.</p>
  </div>
  <div class="col-sm 6">
    <%= render 'shared/carousel'%>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo maiores dolore itaque, distinctio numquam deleniti? Totam neque quisquam, vitae doloribus velit temporibus soluta, est explicabo perferendis, libero rerum quasi repellat.</p>
  </div>
</div>

<% 50.times do |i|%>
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<% end %>
